.image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.screen {
    height: 600px;
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    overflow: hidden;

    
}

#startGameButton {
    height: 100px;
    width: 200px;
    position: relative;
    top: 50px;
    left: 350px;
    background-color: white;
}

#gameScreen, #turtleGameScreen {
    display: none;
}

.startGameButtons {
    height: 150px;
    width: 150px;
    position: relative;
    background-color: white;
    margin: auto;
}

#talkingTurtlePerson {
    height: 200px;
    width: 150px;
    position: relative;
    background-color: white;
    left: 50px;
    animation: talkingPersonUp 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes talkingPersonUp {
    0% {
        bottom: -600px;
    }
    100% {
        bottom: -375px;
    }
}

#talkingTurtlePersonBubble {
    height: 200px;
    width: 400px;
    background-color: white;
    position: relative;
    left: 250px;
    animation: talkingBubbleUp 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes talkingBubbleUp {
    0% {
        bottom: -600px;
    }
    100% {
        bottom: -100px;
    }
}

.talkingNextButton {
    height: 50px;
    width: 100px;
    background-color: white; 
    position: relative;
    left: 750px;
    bottom: -300px;
    animation: talkingNextButtonUp 1s ease-in;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}


@keyframes talkingNextButtonUp {
    0% {
        bottom: -300px;
    }

    100% {
        bottom: -100px;
    }
}

#turtleGuessItemContainer {
    height: 300px;
    width: 700px;
    background-color: pink;
    position: relative;
    bottom: -800px;
    left: 100px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: none;
    animation-fill-mode: forwards;
}

#turtleGuessItem1 {
    background-image: url("assets/jellyfish1.png");
}

#turtleGuessItem2 {
    background-image: url("assets/bag.png");
}

#turtleGuessItem3 {
    background-image: url("assets/jellyfish2.png");
}

.turtleGuessItem {
    height: 200px;
    width: 150px;
    position: relative;

    animation: turtleGuessItemFloat 1s ease-in infinite;
}

@keyframes turtleGuessItemFloat {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(5px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes turtleGuessItemContainerUp {
    0% {
        bottom: -800px;
    }
    100% {
        bottom: 250px;
    }
}

#turtleEnding {
    height: 220px;
    width: 220px;
    background-image: url("assets/turtle.png"); 
    position: relative;
    left: 100px;
    bottom: -800px;

    animation: none;
    animation-fill-mode: forwards;
}

#turtleEndingBubble {
    height: 250px;
    width: 400px;
    background-color: lightskyblue; 
    position: relative;
    left: 350px;
    bottom: -800px;
    
    animation: none;
    animation-fill-mode: forwards;
}

@keyframes turtleEndingUp {
    0% {
        bottom: -800px;
    }
    100% {
        bottom: 500px;
    }
}

@keyframes turtleEndingBubbleUp {
    0% {
        bottom: -800px;
    }
    100% {
        bottom: 800px;
    }
}


/* hovering with pointer */
#startGameButton:hover, .talkingNextButton:hover, .turtleGuessItem:hover, .startGameButtons:hover {
    cursor: pointer;
}