.screen {
    height: 600px;
    width: 900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
}

#startGameButton {
    height: 100px;
    width: 200px;
    position: relative;
    top: 50px;
    left: 350px;
    background-color: white;
}

#startGameButton:hover {
    cursor: pointer;
}

#gameScreen, #turtleGameScreen {
    display: none;
}

#startTurtleGame {
    height: 150px;
    width: 150px;
    position: relative;
    background-color: white;
    margin: auto;
}

#startTurtleGame:hover {
    cursor: pointer;
}

#talkingTurtlePerson {
    height: 200px;
    width: 150px;
    position: relative;
    background-color: white;
    left: 50px;
    animation: talkingPersonUp 1s ease-in;
    animation-fill-mode: forwards;
}

@keyframes talkingPersonUp {
    0% {
        bottom: -600px;
    }
    100% {
        bottom: -375px;
    }
}

#talkingTurtlePersonBubble {
    height: 200px;
    width: 400px;
    background-color: white;
    position: relative;
    left: 250px;
    bottom: -100px;
}